[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
pytesseract = "*"
jellyfish = "*"
rapidfuzz = "*"
torchinfo = "*"
tqdm = "*"
opencv-python = "*"
memray = "*"
multiprocessing-logging = "*"
chardet = "*"
chainer = "*"
torchaudio = "*"
requests = "*"
boto3 = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
